@charset "UTF-8";

body {

}
.ico_friends {
    display: block;
    background: url(../img/ico_friends.png) no-repeat 0 0 / 700px 800px;
    font-size: 1px;
    color: transparent;
    overflow: hidden;
}
.ico_dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ec4217;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1px; 
    color: transparent;
    line-height: 0;
}
button {
    border: 0;
    background:none;
    cursor: pointer; 
}
#container {
    height: 2000px;
    min-width: 270px;
    max-width: 640px;
    margin: 0 auto;
}
header {
    position: fixed;
    min-width: 270px;
    max-width: 640px;
    margin: 0 auto;
    top: 0;
    left: 0%;
    right: 0;
    background: #fff;
}
header h1 {
    text-align: center;
    height: 50px;
    line-height: 50px;
}
header h1 a {
    display: inline-block;
    background-image: url('../img/logo_kakaofriends.png');
    width: 147px;
    height: 24px;
    background-size: 147px 24px;
}
header h1 a span {
    display: none;
}
.ico_gnb_menu {   
    width: 24px;
    height: 24px;
    background-position: -520px -60px;
}
.top_left, .top_right {
    position: absolute;
    top: 6px;
}
.top_left {
    left: 12px;
}
.top_left button {
    padding: 5px;
}
.top_left .ico_dot {
    position: absolute;
    top: 7px;
    right: 5px;
}
.top_right {
    right: 12px;
}
.top_right button {
    padding: 5px;
}
.top_right .ico_search, .top_right .ico_global {
    width: 24px;
    height: 24px;
} 
.top_right .ico_search {
    background-position: -40px -20px;
}
.top_right .ico_global {
    background-position: -440px -60px;
}
nav {
    border-bottom: 1px solid #eee;
}
.list_tab {
    display: flex;
}
.list_tab li {
    flex: 1;
    text-align: center;
}
.list_tab li a {
    display: block;
    line-height: 43px;
}
.list_tab li a > span {
    position: relative;
}
nav .ico_dot {
    position: absolute;
    top: -3px;
    right: -10px;
}
.list_tab li a.on {
    font-weight: bold;
}
.list_tab li a.on::after {
    content: "";
    display: block;
    height: 4px;
    background: #222;
    position: relative;
    bottom: -1px;
}
/** main **/
main {
    padding-top: 95px; 
}
article {
    
}
article .box {
    padding: 20px;
}
.article_header {
    padding-bottom: 15px;
}
.article_header .profile {
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/character/character_20220531165306_96.png') no-repeat 0 0 / 40px 40px;
    text-indent: -9999px;
    border-radius: 15px;
}
.article_header .info {
    padding-left: 46px;
}
.article_header .info strong {
    
}
.article_header .info .txt_time {
    font-size: 13px;
    color: #808080;
    display: block;
    line-height: 15px;
}
.article_con {
    
}
.article_con img {
    width: 100%;
    border-radius: 15px;
}
/** gnb **/
.dark {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}
#gnb {
    position: fixed;
    top: 0;
    left: -304px;
    bottom: 0;
    width: 304px;
    background: #fff;
    overflow: hidden;
    z-index: 150;
}
#gnb .inner {
    width: 304px;
    height: 100%;
    overflow: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}
.info_user {
    padding: 35px 6px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.info_login {
    font-weight: bold;
    letter-spacing: -2px;
}
.info_inquire {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1px;   
}
.info_user .ico_arrow_right {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -320px 0;
    vertical-align: top;
    margin-top: 4px;   
}
/** menu **/
.list_menu {
    padding: 20px 0;
}
.list_menu > li {
    
}
.list_menu .btn_menu {
    display: block;
    width: 100%;
    line-height: 48px;
    padding: 0 10px 0 24px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
.line::after {
    content: "";
    display: block;
    height: 16px;
    width: 304px;
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
}
.list_menu .ico_dot {
    position: relative;
    bottom: 18px;
}
.list_menu .ico_arrow {
    float: right;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -360px 0;
    margin-top: 15px;
}
.list_menu .ico_arrow {
    
}
.list_menu .ico_arrow.on {
    background-position: -340px 0;
}
/** character **/
.list_sub_wrap {
    display: none;
}
.list_character {
    padding: 16px 0 16px 14px;
    font-size: 0;    /** 자식요소 inline-block 사용시 여백을 막아주는 방법 **/
}
.list_character ul {
    
}
.list_character li {
    width: 25%;
    display: inline-block;
    padding-bottom: 20px;
}
.list_character li a {
    display: block;
    padding: 0 10px;
    color: #6d6d6d;
}
.img_character {
    display: block;
    width: 100%;
    padding-top:100%;
    background: no-repeat 50% 50% / cover;
    border-radius: 50%;
}
.txt_character {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 8px;
}
.character01 .img_character {
    background-image: url('../img/character/character_20220531165251_96.png');
}
.character02 .img_character {
    background-image: url('../img/character/character_20220531165311_96.png');
}
.character03 .img_character {
    background-image: url('../img/character/character_20220531165333_96.png');
}
.character04 .img_character {
    background-image: url('../img/character/character_20220531165353_96.png');
}
.character05 .img_character {
    background-image: url('../img/character/character_20220531165418_96.png');
}
.character06 .img_character {
    background-image: url('../img/character/character_20220531165457_96.png');
}
.character07 .img_character {
    background-image: url('../img/character/character_20220902083300.png');
}
.character08 .img_character {
    background-image: url('../img/character/character_20220902083414.png');
}
/** character hover **/
.character01:hover .img_character {
    background-image: url('../img/character/character_20220531165245_96.png');
}
.character02:hover .img_character {
    background-image: url('../img/character/character_20220531165306_96.png');
}
.character03:hover .img_character {
    background-image: url('../img/character/character_20220531165329_96.png');
}
.character04:hover .img_character {
    background-image: url('../img/character/character_20220531165349_96.png');
}
.character05:hover .img_character {
    background-image: url('../img/character/character_20220531165413_96.png');
}
.character06:hover .img_character {
    background-image: url('../img/character/character_20220531165452_96.png');
}
.character07:hover .img_character {
    background-image: url('../img/character/character_20220902083255.png');
}
.character08:hover .img_character {
    background-image: url('../img/character/character_20220902083409.png');
}
/** category **/
.list_category {
    font-size: 0;
    padding: 8px 10px 8px 24px;
}
.list_category ul {

}
.list_category li {
    display: inline-block;
    width: 50%;
}
.list_category li a {
    display: block;
    font-size: 14px;
    padding: 12px 0;
}
/** banner **/
.banner {

}
.banner a {
    display: block;
    padding: 0 14px;
}
.banner img {
    width: 100%;
    border-radius: 10px;
}
/** login **/
.login {
    margin-bottom: 30px;
}
.login a {
    display: block;
    text-align: center;
    padding: 25px;
    color: #6d6d6d;
    font-size: 13px;
}
.login .ico_gnb_lock {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -560px -20px;
    vertical-align: top;
    margin-top: -5px;
}
/** login_popup **/
.login_popup {
    display: none;
    background: #fff;
    border-radius: 16px;
    text-align: center;
    padding: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 310px;
    z-index: 110;
    transform: translate(-50%, -50%);
}
.login_popup img {
    width: 120px;
}
.login_popup strong {
   display: block; 
    margin-top: 10px;
}
.login_popup p {
    font-size: 14px; 
}
.login_popup .btn_kakao {
    background: #ffeb00;
    width: 100%;
    padding: 15px;  
    border-radius: 50px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #3c1e1e;
}
.login_popup .ico_kakao {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -480px -20px;
    vertical-align: top;
    margin: -4px 3px 0 0;
}
.btn_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px; 
}
.btn_close .ico_close {
    width: 24px;
    height: 24px;
    background-position: -398px -518px;
}





